<launch>
  <!-- Adding gazebo model path-->
  <env name = "GAZEBO_MODEL_PATH" value = "$(find spot_config)/model"/>
  <>

  <!-- Adding gazebo variables-->
  <arg name = "paused" default = "false"/>
  <arg name = "headless" default = "false"/>
  <arg name = "gui" default = "true"/>
  <arg name = "use_sim_time" default = "true"/>
  <arg name = "debug" default = "false"/>
  <arg name = "extra_gazebo_args" default = "--verbose"/>

  <!-- Insert Ga-->
  <include file = "$(find gazebo_ros)/launch/gazebo.launch">
    <arg name = "world_name" value = "$(find spot_config)/world/model.world"/>
    <arg name = "debug" value = "$(arg debug)"/>
    <arg name = "gui" value = "$(arg gui)/>
    <arg name = "use_sim_time" value = "$(arg use_sim_time)/>
    <arg name = "paused" value = "$(arg paused)/>
    <arg name = "extra_gazebo_args" value = "$(arg extra_gazebo_args)"/>
  </include>
  
</launch>
